/* Mobile Styles */
@media (max-width: 900px) {

    .container {
        width: 100%;
        padding: 10px;
        display: inline-block;
        margin-top: 20px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 51, 0.9);
        transition: top 0.3s ease-in-out;
        padding: 0 0;
    }

    .header-container, .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: inline;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 1002;
    }

    .menu-icon, .menu-icon::before, .menu-icon::after {
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
        position: relative;
    }

    .menu-icon::before, .menu-icon::after {
        content: '';
        position: absolute;
        left: 0;
    }

    .nav {
        display: none;
    }

    .menu-toggle.active + .nav {
        display: inline;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 150px 0;
        margin-top: 145px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .step, .testimonial, .instructor, .benefit {
        display: block;
        width: 90%;
        margin: 20px auto;
        text-align: -webkit-center;
    }

    .course, .blog-post {
        display: block;
        width: 90%;
        margin: 50px auto;
        text-align: -webkit-center;
    }

    .benefits, .how-it-works {
        text-align: -webkit-center;
    }

    .benefits, .featured-courses, .how-it-works, .testimonials,
    .our-instructors, .blog, .contacts {
        padding: 5px 0;
    }

    .benefit .icon {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .benefit h3, .benefit p, .how-it-works h3 {
        text-align: center;
    }

    .how-it-works .container, .benefits .container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-primary, .btn-secondary, .btn-login, .dropdown {
        display: block;
        margin: 10px auto;
        text-align: center;
        width: 100%;
    }

    .hero .btn-primary {
        width: auto;
    }

    .testimonials {
        padding: 20px 0;
    }

    .contact-social {
        flex-direction: row;
        row-gap: 20px;
    }
}
