/* General Styles */
.lessons-container {
    display: flex;
    margin: 50px auto;
    max-width: 1200px; /* Уменьшаем максимальную ширину для лучшего отображения */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 20px; /* Добавляем отступ между столбцами */
}

.lessons-list {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Добавляем прокрутку, если содержимое списка превышает высоту */
    box-sizing: border-box; /* Убедиться, что padding включен в ширину элемента */

}

.lessons-list h3 {
    color: #1a202c;
}

.lesson-item {
    display: block;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.lesson-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.lesson-item a {
    text-decoration: none;
    color: #333;
    display: block;
}

.lesson-item a:hover {
    color: #007bff;
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.lesson-content {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; /* Убедиться, что padding включен в ширину элемента */
}

.lesson-content h2 {
    text-align: center;
    color: #1a202c;
}

.content-section {
    display: none;
}

.content-section p, .content-section h3 {
    color: #1a202c;
}

.content-section.active {
    display: block;
}

.nav-links {
    margin-bottom: 20px;
    display: flex; /* Включаем flexbox */
    justify-content: center; /* Выровнять ссылки по центру */
    flex-wrap: wrap; /* Добавляем перенос на новую строку, если не помещаются */
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-right: 15px;
    display: inline-block;
    text-align: center; /* Центрирование текста внутри ссылок */
}

.nav-links a:last-child {
    margin-right: 0; /* Убираем последний отступ */
}

.nav-links a:hover {
    text-decoration: underline;
}

.progress-bar {
    margin-top: 50px;
    background-color: rgba(0, 0, 51, 0.8);;
}

.progress {
    width: 100%;
    background-color: #ddd;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-completed {
    height: 100%;
    background-color: #4caf50;
    width: 0; /* Ширина будет установлена inline-стилем */
}

.lesson-item.completed a {
    color: green;
    font-weight: bold;
}




