/* Mobile Styles */
@media (max-width: 900px) {



    .courses-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .course {
        margin: 20px auto;
    }

    .featured-courses .container {
        margin-top: 170px;
    }

    .carousel-inner {
        display: inline-block;
    }

    .carousel-item .course-li {
        margin-bottom: 0;
    }

    .course-h3 {
        margin-bottom: 0;
        text-align: center;
        font-size: 25px;
    }

    .course-p {
        display: none;
        visibility: hidden;
    }
}
