@media (max-width: 900px) {
    .container {
        display: block;
        margin-top: 145px;
    }

    .course-show .container {

        width: 90%;
        padding: 0 15px;
    }
    .course-image {
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .course-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .carousel-item {
        flex: 0 0 80%;
        padding: 15px;
    }
    .carousel-btn {
        display: none;
    }
    .btn-learn {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}
